html,body{
    height: 100%;
    background-color: black;
    font-weight: 100;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
}

.main-container{
    color: white;
    position: relative;
    margin: 20px 200px;
    
}
.main-header{
    
    display: flex;
    flex-wrap: wrap;
   align-items: center;
    justify-content: space-between;
}

.main-heading{
    font-size: 1.5em;
   font-weight: bold;
}
#add-list{
    color: #2978b5;
}

.para-head{
    font-size: 1em;
    font-weight: 100;
    
}

.pop-up{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
   display: none;
  
}

.popup-content{
    
    width: 400px;
    height: 200px;
    justify-content: center;  
    text-align: center;
    border: 1.5px  solid lightsalmon;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background-color: white;
}

#para{
    color:#f05945;
    font-family: sans-serif;
    font-size: large;
    margin-top: 35px;
    margin-bottom: 0px;
 

}

.text{

    border: 1.5px solid;
    border-color: lightsalmon;
    border-radius: 5px;
    margin-top: 20px;
    width: 70%;;
    height: 20%;

}

.button{
    display: inline;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    border: 0px;
    background-color: rgb(223, 54, 54);
    font-family: sans-serif;
    font-size: 20px;
    width: 85px;
    height: 40px;
    color: white;
    letter-spacing: 0.6px;
    
}
.btn{
    display: block;
}


.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 30px;
   
}


.card-container{
    
    height: 360px;
    width: 230px;
    background-color: white;
    color: orangered;
    margin: 10px;
    position: relative;
    margin-top: 40px;
    box-shadow: 10px 10px 10px black ;
    border-radius: 10px;

}
.listname{
    text-align: center;
    
}

#add-item{
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #2978b5;

 }

 #delete-card{
     position: absolute;
     bottom: 10px;
     right: 48px;
 }


 .ul{
    list-style-type: none;
    text-align: center;
    
 }

 .completed{
     text-decoration-line: line-through;
 }